<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2d2d2d">
        <meta name="msapplication-TileColor" content="#2d2d2d">
        <meta name="theme-color" content="#2d2d2d">

        <!-- Twitter Metadata -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@Harmelodic" />
        <meta name="twitter:title" content="{{title}}" />
        <!-- <meta name="twitter:description" content="" /> -->
        <!-- <meta name="twitter:image" content="" /> -->

        <!-- No Script -->
        <style>
            #noscript {
                text-align: center;
                margin-top: 20px;
                font-size: 20px;
                white-space: pre-wrap;
                font-family: Helvetica, sans-serif;
            }
        </style>

        <!-- Global CSS -->
        <style>
            :root {
                --transparent: rgba(0, 0, 0, 0);

                /* Generic styling */
                --main-background-color: #ffffff;
                --body-text-color: #333;
                --switch-theme-fill: #111;
                --switch-theme-border: #333;
                --switch-theme-text: #ddd;
                --blog-border-radius: 3px;

                /* Markdown re-styling */
                --link-color: #0645ad;
                --link-active-color: #df0000;
                --code-block-background: #000;
                --code-block-color: #fff;
                --blockquote-colour: #2e70b1;
                --keyboard-text-color: #242729;
                --keyboard-border-color: #adb3b9;
                --keyboard-outer-boxshadow: rgba(12, 13, 14, 0.2);
                --keyboard-inner-boxshadow: #fff;

                /* Blog specific colouring */
                --blog-name-underline: #999;
                --unselected-border: #ddd;
                --unselected-text: #aaa;
                --hovering-color: #333;
            }

            body {
                margin: 0;
                font-size: 0;
                font-weight: 300;
                white-space: nowrap;
                font-family: Georgia, Times, serif;
                font-weight: 300;
            }

            .heading, h1, h2, h3, h4, h5, h6 {
                font-family: Helvetica, sans-serif;
            }
        </style>

        <!-- Page Data -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="Description" content="{{description}}">
        <title>{{title}}</title>
    </head>
    <body>
        <noscript>
            <div id="noscript">This website requires JavaScript enabled.</div>
        </noscript>
        <div id="app"></div>
        <script src="/bundle.js" type="text/javascript"></script>
    </body>
</html>